.image-container {
    display: flex;              
    justify-content: center;     
    align-items: center;     
    width: 100%;                 
    height: 700px;      
    background-color: rgb(44, 19, 88);      
    border-color: top;     
        
}


  
  
